
  <div class="col">
    <div class="card border-primary mb-3">
      <img [src]="game.thumbnail" alt="" class="card-img-top" >
      <div class="card-body">
        <h2 class="card-title">{{game.title}}</h2>
        <p class="card-text">{{game.short_description}}</p>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" *ngIf="!isFavorite(game.id)" (click)="addToFavorites(game)">Add to Favorites</button> 
                <button type="button" class="btn btn-danger" *ngIf="isFavorite(game.id)" (click)="removeFromFavorites(game)">Remove from Favorites</button>
            </div>
            
            <div class="col text-end download">
                

                    <a [href]="game.game_url"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
                        <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                      </svg> Download</a>

                
                </div>            
        </div>



      </div>
      <div class="card-footer">
          <div class="row">
               <div class="col">{{game.genre}}</div>
                <div class="col text-end"><span class="badge bg-light">{{game.platform}}</span></div>
          </div>
         
        
      </div>
    </div>
  </div>


