
    <div class="logo">
        <img class="avatar" src="../../../assets/img/alberto.jpg" alt="">

        <h1>Alberto Pedrero Esteban</h1>                
    </div>

 <section id="sobreMi">
<div class="row">
    <div class="col">
        <h2>Sobre mí</h2>
        <p>Profesor en la Facultad de Informática en la Universidad Pontificia de Salamanca desde el año 1996. Además, en la actualidad soy Director del Servicio de Publicaciones de la Universidad. </p>
            
        <p>Obtuve el doctorado en Ingeniería Informática. Estoy interesado en temas de Interacción Persona-Ordenador, y más concretamente, en temas de accesibilidad.</p>
    </div>

    <div class="col">
        <h2>Información básica</h2>
        <dl>
            <dt> <i class="bi bi-envelope"></i>
                 Correo:</dt>
            <dd><a href="mailto:apedreroes@upsa.es">apedreroes@upsa.es</a></dd> <br/>
            <dt><i class="bi bi-twitter"></i> Twitter:</dt>
            <dd><a href="https://twitter.com/apedreroes">@apedreroes</a></dd> <br/>
            <dt><i class="bi bi-instagram"></i>
                 Instagram:</dt>
            <dd><a href="https://www.instagram.com/apedreroes/?hl=es">@apedreroes</a></dd> <br/>
            <dt><i class="bi bi-linkedin"></i> 
                Linkedin:</dt>  
            <dd><a href="https://www.linkedin.com/in/apedreroes/">Alberto Pedrero</a></dd>
        </dl>                
    </div>   
</div>
 



</section>